* {
  font-family: "Poppins", sans-serif;
}
img {
  transform: scale(1.3);
}
.alive {
  background: #55cc44;
}
.dead {
  background: #cc5544;
}
.rounded-circle {
  position: absolute;
  transform: scale(0.4);
}
